@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1732px;
  height: 100vh;
  background-color: aqua;
  margin: 0 auto;
}

.frame {
  height: 37px;
  width: 1732px;
  background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

nav {
  width: 1732px;
  background-color: #000000;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-center {
  height: 27px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
nav .nav-center .nav-center-text {
  width: 467px;
  display: flex;
  justify-content: space-between;
}
nav .nav-center .nav-center-text .item {
  display: flex;
}
nav .nav-center .nav-center-text .item p {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #848895;
}

.hero-content {
  height: 664px;
  display: flex;
  background-color: #000000;
}
.hero-content .hero-content-left {
  width: 997px;
  background-image: url("./assets/images/left-hero.png");
  position: relative;
  bottom: 110px;
  opacity: 0.5;
  height: 774px;
}
.hero-content .hero-content-center {
  width: 577px;
  background-color: #000000;
  height: 664px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content .hero-content-center .hero-content-center-text {
  width: 777px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: relative;
  right: 100px;
}
.hero-content .hero-content-center .hero-content-center-text .text-top {
  font-family: Helvetica;
  font-size: 70px;
  line-height: 76px;
  letter-spacing: 0.6800000072px;
  text-align: center;
  width: 140%;
}
.hero-content .hero-content-center .hero-content-center-text .text-middle {
  width: 140%;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-content .hero-content-center .hero-content-center-text .text-bottom {
  width: 140%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.hero-content .hero-content-center .hero-content-center-text .text-bottom .btn-left {
  background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%), linear-gradient(0deg, #000000, #000000);
  height: 52px;
  width: 181px;
  border-radius: 36px;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 20px;
}
.hero-content .hero-content-center .hero-content-center-text .text-bottom .btn-right {
  background-color: #000000;
  height: 52px;
  width: 146px;
  border-radius: 36px;
  border-color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.hero-content .hero-content-right {
  width: 977px;
  position: relative;
  bottom: 110px;
  background-image: url("./assets/images/right-hero.png");
  opacity: 0.3;
  height: 774px;
}

.client {
  height: 105px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.client .client-text p {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.8000000119px;
  text-align: center;
  color: #618ADC;
}
.client .client-photos {
  margin: 0 auto;
  width: 1166px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.community {
  height: 1690px;
  background-image: url("./assets/images/community.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.community .community-main {
  width: 1140px;
  height: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.community .community-main .community-main-top {
  height: 723px;
  display: flex;
}
.community .community-main .community-main-top .community-main-top-text {
  width: 570px;
  height: 573px;
}
.community .community-main .community-main-top .community-main-top-text p {
  width: 316px;
  margin-left: 20px;
  margin-top: 77px;
  color: white;
  font-family: Helvetica;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
}
.community .community-main .community-main-top .community-main-top-number {
  opacity: 0.7;
  width: 570px;
  background-color: #000000;
  height: 573px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.community .community-main .community-main-top .community-main-top-number .number-top {
  height: 159px;
  width: 530px;
  background-color: #000000;
}
.community .community-main .community-main-top .community-main-top-number .number-top .active {
  height: 132px;
  font-family: Helvetica;
  font-size: 101px;
  font-weight: 400;
  line-height: 132px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 101px;
  line-height: 132px;
  background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.community .community-main .community-main-top .community-main-top-number .number-top .non-active {
  margin-left: 20px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #C4C4C4;
}
.community .community-main .community-main-top .community-main-top-number .number-middle {
  height: 159px;
  width: 530px;
  background-color: #000000;
}
.community .community-main .community-main-top .community-main-top-number .number-middle .active {
  height: 132px;
  font-family: Helvetica;
  font-size: 101px;
  font-weight: 400;
  line-height: 132px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 101px;
  line-height: 132px;
  background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.community .community-main .community-main-top .community-main-top-number .number-middle .non-active {
  margin-left: 20px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #C4C4C4;
}
.community .community-main .community-main-top .community-main-top-number .number-bottom {
  height: 159px;
  width: 530px;
  background-color: #000000;
}
.community .community-main .community-main-top .community-main-top-number .number-bottom .active {
  height: 132px;
  font-family: Helvetica;
  font-size: 101px;
  font-weight: 400;
  line-height: 132px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 101px;
  line-height: 132px;
  background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.community .community-main .community-main-top .community-main-top-number .number-bottom .non-active {
  margin-left: 20px;
  height: 28px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #C4C4C4;
}
.community .community-main .community-main-bottom {
  height: 793px;
  display: flex;
  justify-content: space-between;
}
.community .community-main .community-main-bottom .community-main-bottom-text {
  width: 340px;
}
.community .community-main .community-main-bottom .community-main-bottom-text .active {
  margin-left: 20px;
  margin-top: 64px;
  font-family: Helvetica;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
}
.community .community-main .community-main-bottom .community-main-bottom-text .non-active {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  text-transform: uppercase;
  margin-left: 20px;
  display: flex;
}
.community .community-main .community-main-bottom .community-main-bottom-text .non-active .green {
  width: 5px;
  height: 5px;
  background-color: #19FB9B;
  margin-right: 7px;
  margin-top: 3px;
  border-radius: 50%;
}
.community .community-main .community-main-bottom .community-main-bottom-items {
  width: 760px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items {
  height: 653px;
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .item {
  background-color: yellowgreen;
  border-radius: 20px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first {
  width: 340px;
  margin-top: 64px;
  height: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main {
  height: 240px;
  width: 270px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-top {
  display: flex;
  color: white;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-top .green {
  background-color: #0047FF;
  width: 2px;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-top .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-middle {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #C4C4C4;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-bottom {
  color: white;
  display: flex;
  margin-bottom: 6px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-bottom .green {
  height: 5px;
  width: 5px;
  background-color: #19FB9B;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-bottom .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .first .first-main .first-main-deep-bottom {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  text-transform: uppercase;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 335px;
  width: 340px;
  background-color: black;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main {
  height: 320px;
  width: 270px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-top {
  display: flex;
  color: white;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-top .green {
  background-color: yellow;
  width: 2px;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-top .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-middle {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #C4C4C4;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-bottom {
  margin-top: 50px;
  color: white;
  display: flex;
  margin-bottom: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-bottom .green {
  height: 5px;
  width: 5px;
  background-color: #19FB9B;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-bottom .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .second .first-main .first-main-deep-bottom {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  text-transform: uppercase;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 335px;
  width: 340px;
  background-color: black;
  margin-top: 8px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main {
  height: 240px;
  width: 270px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-top {
  display: flex;
  color: white;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-top .green {
  background-color: purple;
  width: 2px;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-top .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-middle {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #C4C4C4;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-bottom {
  color: white;
  display: flex;
  margin-bottom: 6px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-bottom .green {
  height: 5px;
  width: 5px;
  background-color: #19FB9B;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-bottom .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .third .first-main .first-main-deep-bottom {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  text-transform: uppercase;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 362px;
  background-color: black;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main {
  height: 340px;
  width: 270px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-top {
  display: flex;
  color: white;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-top .green {
  background-color: #19FB9B;
  width: 2px;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-top .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-middle {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #C4C4C4;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-bottom {
  margin-top: 20px;
  color: white;
  display: flex;
  margin-bottom: 6px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-bottom .green {
  height: 5px;
  width: 5px;
  background-color: #19FB9B;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-bottom .text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.community .community-main .community-main-bottom .community-main-bottom-items .items .fourth .first-main .first-main-deep-bottom {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  text-transform: uppercase;
}

.build {
  height: 1726px;
  background-color: #000000;
}
.build .build-top {
  height: 811px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.build .build-top .build-top-main {
  height: 562px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.build .build-top .build-top-main .main-text {
  width: 1100px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.build .build-top .build-top-main .main-text .main-text-left {
  font-family: Helvetica;
  font-size: 39px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
}
.build .build-top .build-top-main .main-text .main-text-right {
  height: 48px;
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.build .build-top .build-top-main .main-text .main-text-right .item {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 20px;
  height: 48px;
  width: 71px;
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.build .build-top .build-top-main .main-photos {
  width: 1100px;
  display: flex;
  height: 400px;
  background-color: #C4C4C4;
}
.build .build-top .build-top-main .main-photos .photos-left {
  width: 550px;
}
.build .build-top .build-top-main .main-photos .photos-right {
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1A1A;
}
.build .build-top .build-top-main .main-photos .photos-right .main {
  height: 240px;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.build .build-top .build-top-main .main-photos .photos-right .main img {
  height: 52px;
  width: 240px;
}
.build .build-top .build-top-main .main-photos .photos-right .main .white {
  color: white;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.build .build-top .build-top-main .main-photos .photos-right .main .purple {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #A962FF;
}
.build .build-top .build-top-main .main-bottom {
  width: 1100px;
  background: #111111;
  display: flex;
  justify-content: space-around;
  height: 62px;
}
.build .build-top .build-top-main .main-bottom .build1 {
  height: 30px;
  margin: auto 0;
}
.build .build-top .build-top-main .main-bottom .build2 {
  height: 46px;
  margin: auto 0;
}
.build .build-top .build-top-main .main-bottom .build3 {
  height: 46px;
  margin: auto 0;
}
.build .build-top .build-top-main .main-bottom .build4 {
  height: 30px;
  margin: auto 0;
}
.build .build-bottom {
  background-color: #000000;
  height: 1014px;
  background-image: url("./assets/images/purple-photo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.build .build-bottom p {
  height: 47px;
  margin-bottom: 33px;
  font-family: Helvetica;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
  margin-left: 323px;
}
.build .build-bottom .deep-bottom {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 825px;
  margin: 0 auto;
  margin-top: 130px;
}
.build .build-bottom .deep-bottom p {
  height: 150px;
  font-family: Helvetica;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
}
.build .build-bottom .deep-bottom button {
  color: white;
  height: 50px;
  width: 175px;
  border-radius: 40px;
  background-color: #8C01FA;
  margin: 0 auto;
}

footer {
  height: 480px;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .main {
  height: 220px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
footer .main .main-left {
  height: 220px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main .main-left .s-photo {
  height: 27px;
  width: 31px;
}
footer .main .main-left .first {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
footer .main .main-left .second {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #848895;
}
footer .main .main-right {
  height: 220px;
  width: 475px;
  display: flex;
  justify-content: space-between;
}
footer .main .main-right .first {
  width: 140px;
}
footer .main .main-right .first h3 {
  font-family: Helvetica;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
footer .main .main-right .first p {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #848895;
}
footer .main .main-right .second {
  width: 140px;
}
footer .main .main-right .second h3 {
  font-family: Helvetica;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
footer .main .main-right .second p {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #848895;
}
footer .main .main-right .third {
  color: #848895;
  width: 140px;
  display: flex;
}
footer .main .main-right .third img {
  height: 19px;
  width: 19px;
  margin-right: 10px;
}/*# sourceMappingURL=input.css.map */